schedule = chmod,0,0,"execute=chmod,777,/home/<user>/.session/<u>.socket"
execute = {sh,-c,rm -f /home/<user>/.session/<u>.socket}
scgi_local = /home/<user>/.session/<u>.socket
execute = {sh,-c,chmod 0666 /home/<user>/.session/<u>.socket}
encoding_list = UTF-8
port_range = 45000-65000
port_random = no
check_hash = no
directory = /home/<user>/torrents
session = /home/<user>/.session
encryption = allow_incoming, try_outgoing, enable_retry
schedule = watch_directory,1,1,"load_start=/home/<user>/watch/*.torrent"
#schedule = untied_directory,5,5,"stop_untied=/home/<user>/watch/*.torrent"
system.method.set_key = event.download.finished,move_complete,"execute=ln,,$d.get_base_path=,/home/<user>/torrents/finish/"
use_udp_trackers = yes
dht = off
peer_exchange = no
execute = {sh,-c,/usr/bin/php /var/www/rutorrent/php/initplugins.php <user> &}
